﻿body{
    margin: 0;
    padding:0;
    font-family: Helvetica,Arial,YuGothic,"游ゴシック体","Yu Gothic","游ゴシック","ヒラギノ角ゴ ProN","Hiragino Kaku Gothic ProN","メイリオ",Meiryo,sans-serif;
    text-align:center;
    width:100%;
}

* html body{
    overflow: hidden;
}

* html div.contents{
    	height: 100%;
    	overflow: auto;
}

.all{
	margin: 0 auto;
	text-align: left;
}

p { margin: 0; }

.HeaderArea {
   	position: fixed;
	top: 0;
	width: 100%;
	height: 60px;
	font-size: 52px;
	z-index: 1;
	text-align: center; 
}

.main {
	width: 100%;
	height: 100%;
	padding-top: 60px;
}

.SideMenu {
	position: fixed;
	float: left;
	top: 60px;
	font-size: 16px;
	height: 250px;
	width: 140px;
	background: rgb(223,244,231);
	padding-left: 10px;
	padding-top: 10px;
	color: rgb(25,25,112);
	
}

.BottonContents{
	margin-left: 150px;

}

.BottonArea{
	width: 100%;
	overflow: auto;
}
.contents{
	font-size: 28px;
	padding-left:5px;
	padding-bottom: 40px;
}

.FooterArea{
	position: fixed;
   	bottom: 0px;
	width: 100%;
	height: 40px;
	font-size:36px;
	text-align: right;
	z-index: 1;
}

td {
text-align: center;
vertical-align: top;
}

.imageResize{
	width: 90%;
}

#top{
	margin-top:-60px;
   	padding-top:60px;
}

#botton1{
	margin-top:-60px;
   	padding-top:60px;
}

#botton2{
	margin-top:-60px;
   	padding-top:60px;
}

#botton3{
	margin-top:-60px;
   	padding-top:60px;
}


.memu{
	display: none;
}
.accordion{
	display: none;
}
.HeaderArea ul{
	display:none;
}
.Change:hover{
	color: #F90;
}


ul#sample{
 	display: -webkit-flex;
   	display: flex;
}



@media only screen and (max-width: 768px) {
	.SideMenu{
		display: none;
	}
	.HeaderArea{
		max-width: 768px;
	}
	.BottonContents{
		max-width: 768px;
		position: relative;
		margin-left: 0px;
	}
	.menu{
		float: left;
		width: 75px;
	}
	.HeaderArea a {
		display: block;
		padding: 3px 3px 3px 7px;
		text-decoration: none;
		color: #000;
		line-height: 1;
		color: rgb(25,25,112);
	}

	label {
		width: 43px;
		height: 40px;
		display: block;
		margin: 0 0 0 0;
		padding :10px;
		line-height: 1;
		background :#FFFFCC;
		cursor :pointer;
	}

	input{
	    display: none;
	}

	.HeaderArea ul {
		margin: 0;
		padding: 0;
		background :rgb(223,244,231);
		list-style: none;
		font-size: 42px;
		overflow: visible;
		display:inline-block;
		text-align: left;
	}

	.HeaderArea li {
		max-height: 0;
		opacity: 0;
		overflow-y: hidden;
		-webkit-transition: all 0.5s;
		-moz-transition: all 0.5s;
		-ms-transition: all 0.5s;
		-o-transition: all 0.5s;
		transition: all 0.5s;
		overflow: visible;
	}

	#menu_bar:checked ~ #links01 li {
		max-height: 46px;
		opacity: 1;
	}

	.humberger {
		display: inline-block
		height: 24px;
		width: 36px;
		vertical-align: middle;
		padding: 6px 0;
		border: 2px solid #444;
		border-radius: 4px;
	}
	.humberger div {
		display: inline-block;
		height: 4px;
		width: 24px;
		background-color:#444;
		margin: 2px 6px;
		border-radius: 2px;
	}
	.imageResize{
	width: 95%;
}
}
